.card {
  background-color: aliceblue;
}

.p {
  line-height: 1.6;
  font-family: calibri;
  color: rgb(78, 78, 78);
  text-align: left;
  margin: 0;
  font-size: 15pt;
}

.fig_sum {
  float: left;
  max-width: 50%;
  height: auto;
  shape-outside: image("assets/images/Fig1.png");
  margin-right: 20px;
  margin-bottom: 30px;
}

.fig_viz {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.fig_comp {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.img-thumbnail {
  border-width: 2.5px;
  border-color: lightsteelblue;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  /* margin-top: 0; */
}

.navbar-brand {
  background-color: palegoldenrod;
  color: steelblue;
  font-weight: bolder;
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
}

.nav-link {
  color: lightsteelblue;
}

.dropdown-menu {
  background-color: lightslategray;
}

.dropdown-item {
  color: palegoldenrod;
}

.footer {
  color: lightsteelblue;
}

.card-title {
  color: rgb(78, 78, 78);
}

.card-body {
  color: rgb(78, 78, 78);
  font-size: 15pt;
}

.body_setting {
  background-color: whitesmoke;
}